[Desktop Entry]
Type=Application
Name=UTPublisher
Name[zh_CN]=UTPublisher
Comment=deepin/UOS app store publishing tool
Comment[zh_CN]=deepin/UOS 应用商店发布工具
Exec=/opt/apps/com.uniontech.utpublisher/files/bin/utpublisher-qt-cpp
Icon=com.uniontech.utpublisher
Terminal=false
Categories=Development;Utility;
StartupNotify=true
